# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Environment variables
.env
.env.development
.env.production

# Build artifacts
dist/
build/
.next/ # For Next.js projects
out/   # For Next.js projects

# Logs and databases
*.log
npm-debug.log*
.sqlite
.data

# Operating System and Editor files
.DS_Store # macOS
Thumbs.db # Windows
.vscode/  # VS Code specific files